spring:
  main:
    allow-circular-references: true
    allow-bean-definition-overriding: true
  
  # Redis 配置
  redis:
    host: ${SPRING_REDIS_HOST:redis}
    port: ${SPRING_REDIS_PORT:6379}
    password: # Redis 密码，生产环境建议设置
    timeout: 10s
    lettuce:
      pool:
        max-active: 200
        max-wait: -1ms
        max-idle: 10
        min-idle: 0

  # Cloud 配置
  cloud:
    # Nacos 配置项，对应 NacosDiscoveryProperties 配置属性类
    nacos:
      discovery:
        server-addr: ${SPRING_CLOUD_NACOS_DISCOVERY_SERVER_ADDR:nacos:8848}
        namespace: # 命名空间。这里使用 public 命名空间，也就是不用配置
    
    # Spring Cloud Gateway 配置项，对应 GatewayProperties 配置属性类
    gateway:
      discovery:
        locator:
          enabled: true # 开启从注册中心动态创建路由的功能
          lower-case-service-id: true # 使用小写服务名，默认是大写

# 日志配置
logging:
  level:
    # 配置自己写的 MyBatis Mapper 打印日志
    cn.iocoder.yudao.module.system.dal.mysql: debug
    cn.iocoder.yudao.module.infra.dal.mysql: debug
    cn.iocoder.yudao.module.filter.dal.mysql: debug

# 服务器配置
server:
  port: 48080
